.navbar {
  background: #653bb5;
  height: 60px;
}

.navbar ul {
  margin: 0;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
}
